

<div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4 gap-8 p-6">
  <div class="flex justify-center">
    <button
      class="btn border-none mb-5 bg-sky-800 hover:bg-sky-600 text-white text-lg shadow-lg rounded-4xl px-8 py-6 "
      routerLink="create"
    >
      Crea un nuovo corso
    </button>
  </div>

  @for (corso of corsi(); track corso.nome) {
    <div class="break-inside-avoid mb-8">
      <app-card
        cardClass="bg-base-100 border-1 border-sky-800 p-6 w-full flex flex-col rounded-3xl shadow-xl"
        [title]="corso.nome + ' (' + corso.annoAccademico + ')'"
        titleStyle="text-center text-2xl font-semibold border-b-2 p-4"
        label="Elimina"
        variant="btn px-4 rounded-full text-sky-800 text-md font-semibold bg-base-100 hover:bg-red-50 hover:text-red-600 transition-all duration-200"
        (action)="delete($event)"
        label2="Modifica"
        (action2)="edit($event)"
        variant2="btn px-4 rounded-full text-sky-800 text-md font-semibold bg-base-100 hover:bg-blue-50 hover:text-blue-600 transition-all duration-200"

        actionCss="justify-center flex gap-4 pt-4 border-t-1 mt-5"

      >
        <div class="mt-6 flex flex-col gap-6">
          <!-- DocenteService -->
          <div class="flex flex-col gap-3">
            <h2 class="text-lg font-bold text-blue-800">DocenteService</h2>
            <div class="ml-4 text-md text-gray-700">
              {{corso.docente.nome}} {{corso.docente.cognome}}
            </div>
          </div>

          <!-- Discenti -->
          <div class="flex flex-col gap-3">
            <h2 class="text-lg font-bold text-blue-800">Discenti</h2>
            @for (discente of corso.discenti; track discente.nome) {
              <div class="ml-4 text-md text-gray-700">
                {{discente.nome}} {{discente.cognome}}
              </div>
            }
          </div>
        </div>
      </app-card>
    </div>
  }
</div>


<!--<pre>{{corsi() | json}}</pre>-->
