<div class="">
  <table class="table shadow-none w-full border-none border-collapse ">
    <!-- head -->
    <thead>
    <tr
      [ngClass]="headStyle"
      class="text-lg"
    >
      @for (col of columns(); track $index) {
        <th>{{ col }}</th>
      }
    </tr>
    </thead>

    <!-- body -->
    <tbody class="">
      @for (item of items(); track $index) {
        <tr
          [ngClass]="rowStyle"
          class=""
        >
          @for (col of columns(); track $index) {
            <td
              class=""
            >
              {{ item[col] }}
            </td>
          }

          <td class="flex justify-end gap-3">
            <button class="btn rounded-2xl bg-base-100 " (click)="deleteItem.emit(item)">Elimina</button>
            <button class="btn rounded-2xl bg-base-100 " (click)="editItem.emit(item)">Modifica</button>
          </td>
        </tr>
      }
    </tbody>

    <tfoot>
    <tr>
      @for (col of columns(); track $index) {
        <th></th>
      }
    </tr>
    </tfoot>
  </table>
</div>

<!-- debug -->
<!--    <pre>{{ items() | json }}</pre>-->
