<div class="p-6">
  <table class="table w-full border-separate border-spacing-y-4">
    <!-- head -->
    <thead>
    <tr
      [ngClass]="headStyle"
      class="transition-all duration-200"
    >
      @for (col of columns(); track $index) {
        <th class="p-4 first:rounded-l-lg last:rounded-r-lg">{{ col }}</th>
      }
      <th class="p-4 rounded-r-lg"></th>
    </tr>
    </thead>

    <!-- body -->
    <tbody>
      @for (item of items(); track $index) {
        <tr
          [ngClass]="rowStyle"
          class="hover:shadow-lg transition-all duration-200"
        >
          @for (col of columns(); track $index) {
            <td
              class="p-4 first:rounded-l-lg"
            >
              {{ item[col] }}
            </td>
          }

          <td class="flex justify-end gap-4 p-4 rounded-r-lg">
            <button
              class="btn px-6 rounded-full text-lg font-semibold bg-base-100 hover:bg-red-50 hover:text-red-600 transition-all duration-200"
              (click)="deleteItem.emit(item)"
            >
              Elimina
            </button>
            <button
              class="btn px-6 rounded-full text-lg font-semibold bg-base-100 hover:bg-blue-50 hover:text-blue-600 transition-all duration-200"
              (click)="editItem.emit(item)"
            >
              Modifica
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
