<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  [ngClass]="formCss"
>

  @for (f of fields; track f.name) {
    <div [ngClass]="f.globalCss">

      @if (f.label) {
        <label
          [ngClass]="f.cssLabel"
        >
          {{f.label}}
        </label>
      }

      @if (['text', 'number', 'email', 'date'].includes(f.type)) {
        <input
          [type]="f.type"
          [formControlName]="f.name"
          [placeholder]="f.placeholder"
          [ngClass]="f.cssInput"
        >
      } @else if (f.type === 'textarea') {
        <textarea
          [formControlName]="f.name"
          [placeholder]="f.placeholder"
          [ngClass]="f.cssInput"
        >
            </textarea>
      } @else if (f.type === 'select') {
        <select
          [formControlName]="f.name"
          [ngClass]="f.cssInput"
        >
          @for (option of f.option; track $index) {
            <option [value]="option.value">
              {{option.label}}
            </option>
          }
        </select>
      } @else if (f.type === 'checkbox') {
        <div class="grid grid-cols-2 gap-1.5">
          @for (option of f.option; track $index) {
            <label [ngClass]="f.cssCheck">
              <input
                type="checkbox"
                class="checkbox"
                [formControlName]="f.name + '_' + $index"
                [ngClass]="f.cssInput"
              >
              <span>{{option.label}}</span>
            </label>
          }
        </div>

      }

      @if (form.get(f.name)?.touched && form.get(f.name)?.invalid) {
        <p class="text-red-600 text-sm">
          Campo obbligatorio o non valido
        </p>
      }

    </div>
  }
  <button
    type="submit"
    [disabled]="form.invalid"
    [ngClass]="button.css"
  >
    {{button.label}}
  </button>

</form>
